body
{
    background-image: url("bg2.jpg");
    background-attachment: fixed;
    background-size: cover;
}
#img
{
    width:40%;
    height:60px;
    margin-left: 50px;
    border-radius:10px;
    margin-top: 100px;
}
#logo
{
    width:30%;
    height:60px;
    float: left;
}
#text
{
    width:70%;
    height:60px;
    float:right;
}
#login
{
    width:45%;
    height:100px;
    margin-left: 50px;
    background-color: aquamarine;
    border-radius:10px;
    margin-top: 40px;
}
input[type=text],[type=password],[type=submit]
{
    height:35px;
    width:200px;
    font-size: 17px;
    border-radius:5px;
    border-bottom:1px solid grey;
    margin-top:25px;
    margin-left:15px;
    padding-left: 10px;
}
input[type=submit]
{
    width:100px;
    background-color: rgb(5,142,199);
}
input[type=submit]:hover
{
    background-color: white;
    cursor: pointer;
}
#forgot
{
    width:45%;
    height:30px;
    margin-left: 50px;
    background-color:aquamarine;
    border-radius:10px;
    margin-top: 5px;
}